<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/galeria">Galeria</a></li>
    <li><a href="/calendario">Calendario</a></li>
    <li><a href="/nosotros">Nosotros</a></li>
    <li><a href="/inicio-sesión">Inicio sesión</a></li>
  </ul>
</nav>
