<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.css">
    <title>PANEL DE CONTROL</title>
  </head>
  <body>

    <% include partials/nav-admin.ejs %>
    <br>

    <h1 class="display-4 center">Panel De Control</h1>
    <br>
    <br>
    <section class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./img/panel-admin/administradores.png" alt="administradores">
            <div class="card-body">
              <h5 class="card-title">Administrador</h5>
              <p class="card-text">Un administrador es un usuario con acceso a el panel de control.</p>
              <a href="/administrador-inicio" class="btn btn-primary">Lista</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./img/panel-admin/clientes.png" alt="administradores">
            <div class="card-body">
              <h5 class="card-title">Clientes</h5>
              <p class="card-text">Los clientes que han tenido o van a tener un evento.</p>
              <a href="/cliente-inicio" class="btn btn-primary">Lista</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./img/panel-admin/eventos.png" alt="administradores">
            <div class="card-body">
              <h5 class="card-title">Eventos</h5>
              <p class="card-text">Todos los eventos que se han hecho o van a hacer.</p>
              <a href="/evento-inicio" class="btn btn-primary">Lista</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./img/panel-admin/promociones.png" alt="administradores">
            <div class="card-body">
              <h5 class="card-title">Paquetes</h5>
              <p class="card-text">Todas las promociones existentes de la terraza.</p>
              <a href="/paquetes-inicio" class="btn btn-primary">Lista</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./img/panel-admin/proveedores.png" alt="administradores">
            <div class="card-body">
              <h5 class="card-title">Proveedores</h5>
              <p class="card-text">Proveedores externos a la terraza don leon.</p>
              <a href="/proveedores-inicio" class="btn btn-primary">Lista</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./img/panel-admin/calendario.png" alt="administradores">
            <div class="card-body">
              <h5 class="card-title">Calendario</h5>
              <p class="card-text">Es un calendario donde marca los dias ocupado y libres del mes.</p>
              <a href="#" class="btn btn-primary">Ver</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
